@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

/* default style */
body{
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  background-color: #fff;
  color: #fff;
}
a{
  text-decoration: none;
}

section{
  padding: 100px 0;
}


/* navbar style */
.navbar.navbar-dark{
  background-color: #1F2235;
}
.navbar .navbar-brand{
  margin: 8px 0;
}
.navbar.navbar-dark .nav-link{
  color: #fff;
  transition: .3s;
  margin-left: 20px;
}
.navbar.navbar-dark .nav-link:hover{
  color: #FF4A57;
}
.navbar.navbar-dark .navbar-toggler{
  background-color: #FF4A57;
  color: #fff;
}


/* hero style */
.hero{
  background-color: #24263B;
  padding: 0;
  padding-top: 40px;
  position: relative;
  overflow: hidden;
}

.hero #particles-js{
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.hero #particles-js canvas.particles-js-canvas-el{
  height: 100% !important;
  width: 100% ip !important;
}

.hero canvas{
  width: 100%;
  height: 100%;
}

.hero .content-hero{
  position: relative;
  z-index: 4;
}

.hero .sosmed, .footer .sosmed{
  color: #fff;
  border: 2px solid #FF4A57;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 20px;
  transition: .3s;
}

.hero .sosmed:hover{
  background-color: #FF4A57;
}

.hero .list-group, .footer .list-group{
  margin-top: 130px;
  background-color: transparent;
}
.hero .list-group .list-group-item, .footer .list-group .list-group-item{
  background-color: transparent;
  padding: 0;
  margin-right: 25px;
}

.hero h1{
  font-weight: 700;
  font-size: 50px;
  margin-top: 40px;
}
.hero p{
  font-size: 26px;
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 40px;
}

.hero .btn-portfolio, .btn-play{
  font-weight: 500;
  font-size: 15px;
  color: #fff;
  border: 2px solid #FF4A57;
  padding: 13px 45px;
  display: inline-block;
  margin-right: 25px;
  transition: .3s;
}
.hero .btn-portfolio:hover{
  background-color: #FF4A57;
  color: #fff;
}

.hero .btn-play{
  color: #fff;
  background-color: #FF4A57;
}

.hero .col-image-hero img{
  width: 90%;
}
.hero .col-image-hero{
  position: relative;
}

.hero .col-image-hero::after{
  content: '';
  display: block;
  height: 100px;
  position: absolute;
  background-image: linear-gradient(to top, rgba(36,38,59,1), rgba(36,38,59,0));
  bottom: 0;
  left: 0;
  right: 0;
}




/* modal */
.modal .modal-dialog .modal-content{
  background-color: transparent;
}
.modal .modal-header{
  border-bottom: none;
}
.modal .modal-header button{
  background-color: transparent;
  color: #fff;
  border: none;
}

/* about style */
.about{
  background-color: #1F2235;
  position: relative;
  overflow: hidden;
}

.about .container{
  position: relative;
  z-index: 2;
}

section h3.section-title{
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 25px;
}

section p.section-description{
  font-size: 18px;
  line-height: 30px;
}

section span.line{
  background-color: #FF4A57;
  height: 5px;
  width: 100px;
  display: block;
  margin: 25px auto 50px;
}

.about img{
  width: 100%;
}

section h4.section-title{
  font-weight: 600;
  font-size: 25px;
  margin: 25px 0;
}

.about::before{
  content: 'ABOUT ME';
  opacity: .2;
  z-index: 1;
  font-size: 150px;
  font-family: 'Monoton', cursive;
  right: 0;
	padding: 150px 100px;
	transform: rotate(-90deg) translate(0, -100%);
  top: 0;
	transform-origin: 100% 0;
	position: absolute;
	background: #FF1493;
  box-sizing: border-box;
}

.about h5{
  color: #FF4A57;
  margin-top: 25px;
  font-weight: 700;
}

/* skills style */
.skills{
  background-color: #24263B;
}
.skills h5, .career h5, .contact h5{
  margin-bottom: 25px;
  color: #FF4A57;
  font-weight: 300;
}

.skills .progress{
  margin-bottom: 25px;
  height: 7px;
  background-color: #282b41;
}

.skills .progress .progress-bar{
  background-color: #FF4A57;
}

/* career style */
.career{
  background-color: #1F2235;
}

.career .card, .contact .card{
  background-color: #24263B;
  box-sizing: border-box;
  transition: .3s;
}

.career .card .card-body, .contact .card .card-body{
  padding: 30px;
}

.career .card .icon, .contact .card .icon{
  color: #FF4A57;
  font-size: 45px;
  transition: .3s;
}

.career .card h5, .contact .card h5{
  font-weight: 600;
  color: #fff;
  margin-top: 15px;
  margin-bottom: 0;
}

.career .card p{
  margin-top: 15px;
}

.career .card:hover{
  background-color: #FF4A57;
  transform: scale(1.1);
  z-index: 5;
}

.career .card:hover .icon{
  color: #fff;
}


/* portfolio style */
.portfolio{
  background-color: #24263B;
}

.portfolio .portfolio-item{
  position: relative;
  overflow: hidden;
}

.portfolio .overlay-portfolio{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.93);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: .3s;
}

.portfolio .portfolio-item:hover .overlay-portfolio{
  opacity: 1;
}

.portfolio .note{
  color: #FF4A57;
}






/* contact style */
.contact{
  background-color: #1F2235;
}

.contact .card .icon{
  font-size: 40px;
}

.contact .card{
  border: 2px solid #24263B;;
}

.contact .card:hover{
  border: 2px solid #FF4A57;
}

.contact .card h5{
  font-size: 20px;
}

.contact .sosmed-row{
  margin-top: 70px;
  margin-bottom: 40px;
}

.contact .form-control{
  background-color: #24263B;
  border: none;
  padding: 20px;
  box-sizing: border-box;
  color: #fff;
}
.contact .form-control::placeholder{
  color: #fff;
}

.contact .btn-play{
  background-color: #FF4A57;
  color: #fff;
}
.contact .btn-play:hover{
  background-color: #fff;
  color: #FF4A57;
  border-color: #fff;
}

/* footer style */
.footer{
  background-color: #24263B;
}

.footer img{
  height: 100px;
  width: auto;
}

.footer p{
  margin: 20px 0;
}

.footer .list-group{
  margin: 0;
  text-align: center;
  justify-content: center;
}

.footer .list-group .list-group-item:last-child{
  margin-right: 0;
}


.footer .list-group-item .sosmed{
  border: none;
  background-color: #1F2235;
}






/* responsive smartphone */

@media (max-width: 1200px) {
  .hero .list-group{
    margin-top: 80px;
  }
  .hero h1{
    font-size: 40px;
  }
  .hero p{
    font-size: 20px;
  }
  .about::before{
    display: none;
  }
}

@media (max-width: 992px) {
  .navbar.navbar-dark .nav-link{
    text-align: center;
  }
  .hero .col-image-hero{
    display: none;
  }
  .hero .list-group{
    margin-top: 0;
  }
  .hero{
    padding: 80px 0;
  }
}

@media (max-width: 576px) {
  .hero .btn-portfolio, .hero .btn-play{
    margin-bottom: 20px;
  }
}


