@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* default style */
body{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  background-color: #fff;
  color: #fff;
}
a{
  text-decoration: none;
}


/* navbar style */
.navbar.navbar-dark{
  background-color: #1F2235;
}
.navbar .navbar-brand{
  margin: 8px 0;
}
.navbar.navbar-dark .nav-link{
  color: #fff;
  transition: .3s;
  margin-left: 20px;
}
.navbar.navbar-dark .nav-link:hover{
  color: #FF4A57;
}
.navbar.navbar-dark .navbar-toggler{
  background-color: #FF4A57;
  color: #fff;
}








/* responsive smartphone */
@media (max-width: 992px) {
  .navbar.navbar-dark .nav-link{
    text-align: center;
  }
}


